@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
    -webkit-text-stroke: 1px #000;
    background: url(image.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    from {
        background-position: 0 0;
    }
     to {
         background-position: 100% 100%;
     }
}